<form ua-signup>
  <ion-view title="Sign Up" id="login">
    <ion-content>
      
          <div class="list list-inset">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" name="name" ng-model="user.name" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" name="email" ua-is-email ng-model="user.email" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" name="password" ng-model="user.password" required>
            </label>
          </div>
            <div class="padding">
            <button type="submit" class="button button-block button-positive" ng-click="signUp(user.name,user.email,user.password)" >
              <span ng-show="!loading">Create Account</span>
              <i ng-show="loading" class="ion-loading-b" "></i>
            </button>
            
          </div>

    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>