<ion-view view-title="Account" ng-controller="ImageController">
  <ion-content>
    <div class="user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;">

    <img src="img/cover.jpg">

    <div class="avatar">

      <img src="img/mike.png" class="profile-pic">

      <ul>

        <li>

          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">@ionsnap, 6 Pictures</p>

        </li>

       

      </ul>

     

     

    </div>

  </div>


  <ul class="profile" style="margin-left:5%;">

  <li class="profile" ng-repeat="image in images">

    <a href="#"><img ng-src="{{urlForImage(image)}}"></a>

  </li>

  
</ul>
  </ion-content>
</ion-view>
