<ion-view ng-controller="ImageController" padding="true" view-title="Photos">
    <ion-content>
        <div class="row responsive-md">
            <div class="col col-50 col-offset-25">
        	   <p class="text-center"> Great, you want to start a donation!</p>
        	   <p class="text-center"> Please select a photo to share with people:</p>
                <button class="button button-block button-royal" ng-click="addMedia()">
                    Add image.
                </button>
                <!--
                <button class="button button-block button-royal" ng-click="choosePhoto()">
                Choose Photo
                </button> -->

                <ion-scroll direction="y" style="overflow: scroll; white-space: nowrap;">
                    <p> My Donations </p>
                    <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="padding: 5px 5px 5px 5px;"/>
                </ion-scroll>
            </div>

            
        </div>
        
    </ion-content>
</ion-view>

