<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development)
    <script src="js/ng-cordova.min.js"></script> -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/openfb/openfb.js"></script>
    <script src="lib/ngopenfb/ngopenfb.js"></script>
    
<!-- Firebase -->
<script src="lib/firebase/firebase.js"></script>
<!-- AngularFire -->
<script src="lib/angularfire/dist/angularfire.min.js"></script>
<script src="lib/angularfire/dist/angularfire.js"></script>
<script src="lib/firebase-app/firebase-app.js"></script>

 <script src="lib/firebase-auth/firebase-auth.js"></script>
 <script src="lib/firebase-ui-auth/firebase-ui-auth.js"></script>
 <link type="text/css" rel="stylesheet" href="css/firebase-ui-auth.css" />
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCBBXSqZsgqsrhtZSMjyZbY_SxTKawPSVU",
    authDomain: "prestaa-57a1a.firebaseapp.com",
    databaseURL: "https://prestaa-57a1a.firebaseio.com",
    storageBucket: "prestaa-57a1a.appspot.com",
  };

 // firebase.initializeApp(config);
</script>

    

    <!-- your app's js -->

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <!-- <script src='lib/facebook-connect-plugin/index.js'></script> -->
          
     

  </head>
  <body ng-app="starter">
 
<!-- <div id="firebaseui-auth-container"></div> -->
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
          <a href="#/tab/account"  class="button-icon icon ion-ios-person"></a>
         <!--<button class="button-icon icon ion-ios-person" ng-click="account()"> 
        </button> -->
      </ion-nav-buttons>
  
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->

    <ion-nav-view>

      <ion-nav-title>

      </ion-nav-title>
    </ion-nav-view>
    
  </body>
  
</html>
