/* Empty. Add your own CSS if you like */
.login {
	background: url('../img/purple_bg_1920.png') no-repeat fixed center;
	background-size: contain !important;
}

.item.item-input {
	background-color: transparent;
}

.item.input-label {
	position: center;
}

img {
    max-width: 100%;
    height: auto;
}

#login {
  background: #1c2627 url("../img/cover.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;

    form {
      display: table-cell;
      vertical-align: middle;

      .header {
        padding-bottom: 20px;

        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }

      .button.button-light.active, .button.button-light.activated {
        color: #fff;
        opacity: inherit;
      }
    }
  }
}

.tabs .tab-item .icon.iconRecieve {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/iconRecSelect.png');
  background-size:contain;
}

.tabs .tab-item .icon.iconRecievePushed {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/iconRecPushed.png');
  background-size:contain;
}

.tabs .tab-item .icon.iconDonate {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/iconDonSelect.png');
  background-size:contain;
}

.tabs .tab-item .icon.iconDonatePushed {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/iconDonPushed.png');
  background-size:contain;
}

.scroll{height:100%}

.profile ul {

    list-style-type: none;

}

 

.imageholder {

    width: 100%;

    height: auto;

    display: block;

    margin-left: auto;

    margin-right: auto;

}

 

.profile li img {

    float: left;

    border: 5px solid #fff;

    width: 30%;

    height: 10%;

    -webkit-transition: box-shadow 0.5s ease;

    -moz-transition: box-shadow 0.5s ease;

    -o-transition: box-shadow 0.5s ease;

    -ms-transition: box-shadow 0.5s ease;

    transition: box-shadow 0.5s ease;

}

 

.profile li img:hover {

    -webkit-box-shadow: 0px 0px 7px rgba(255, 255, 255,
    0.9);

    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);

}

.text-white{

  color:#fff;

}

 

.profile-pic {

    width: 30%;

    height: auto;

    display: block;

    margin-top: -50%;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 20%;

    border-radius: 4em 4em 4em / 4em 4em;

}